@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(180deg, #3333A3 5.09%, #121212 33.4%);
    height: 100vh;
}

body ::-webkit-scrollbar{
    display: none;
}

@layer base{
    .card-bg{
        background-color: rgba(255, 255, 255, .04);
    }
}